@import "tailwindcss";

@theme {
    --color-background: rgb(30, 30, 30);
    --color-foreground: #ffffff;
    --color-card: #0a0a0a;
    --color-border: #27272a;
    --color-muted: #a1a1aa;
    --color-accent: #3b82f6;

    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-border, currentColor);
    }

    body {
        background-color: var(--color-background);
        color: var(--color-foreground);
    }
}
