@import "tailwindcss";

@theme {
    --color-background: #0a0a0a;
    --color-text-main: #ffffff;
    --color-card-skills: #1a1a1a;
    --color-border: rgb(89, 89, 89, 0.27);
    --color-card-about: rgb(217, 217, 217, 0.05);
    --color-muted: rgb(231, 231, 231, 0.72);
    --color-accent: #3b82f6;

    --font-sans: var(--font-raleway);
}

@layer base {
    *,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-border, currentColor);
    }

    body {
        background-color: var(--color-background);
        color: var(--color-text-main);
    }
}
